.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
}

.imageAndText img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 1px solid
    black;
  border-radius: 50%;
}

.text {
  margin-right: 15px;
  padding: 8px 13px
    0 13px;
  background-color: #0066cc;
  border: 1px solid
    #0066cc;
  border-radius: 10px
    10px 0 10px;
  position: relative;
  z-index: 0;
}

.text:after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: -1px;
  border: 20px solid
    transparent;
  border-bottom: 20px
    solid #0066cc;
}

.name {
  font-family: "Montserrat",
    sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: end;
  color: #ffffff;
}

.messageText {
  font-family: "Montserrat",
    sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}

.time {
  font-family: "Montserrat",
    sans-serif;
  font-weight: 700;
  font-size: 10px;
  padding: 5px 10px;
}
