.sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  padding-top: 60px;
  padding-left: 70px;
  z-index: 1000;
  background-color: #fff;
  box-shadow:
    0 1px 2px 0
      rgba(
        29,
        33,
        38,
        0.1
      ),
    0 10px 40px 0
      rgba(
        29,
        33,
        38,
        0.13
      );
  color: white;
  transition: transform
    0.5s ease;
  transform: translateX(
    -320px
  );
}

.sidebar.open {
  width: 317px;
  height: 100%;

  transform: translateX(
    0
  );
}

.background {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 999;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.nav a {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  text-decoration: none;
}

.nav a:hover {
  color: #0059b2;
  text-decoration: underline;
}

.nav a.active {
  color: #58acff;
}
.close {
  position: fixed;
  top: 15px;
  right: 25px;
}

.close img {
  display: block;
}
