.container {
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.users {
  border-collapse: collapse;
  width: 600px;
}

.thead {
  background-color: #f2f2f2;
}
.nameCol {
  font-size: 14px;
  color: #000;
  padding: 10px;
}

.ageCol {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
.userRow {
}
.item {
  border-bottom: 1px
    solid #ddd;
}

.item:last-of-type {
  border-bottom: none;
}

.users {
}

.buttonsContainer {
}

.container {
}

.thead {
}
